@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500;600;700&display=swap');

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
}

.links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 1rem 2.5rem;
  text-decoration: none;
  color: black;
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.link:hover {
  transform: scale(1.1);
}