body {
  background-image: url("https://res.cloudinary.com/dfdxhrjcc/image/upload/v1670314967/wallpaper_npauwm.jpg");
  background-size: cover;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}